@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

html{
    overflow: hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb{
    background-color: #B2B2B2;
    border-radius: 20px;
}

.App{
    display: grid;
    grid-template-rows: 90vh 9vh;
    grid-template-columns: 100%;
}

