.CardHorizontalRow {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 5%;
}
.CardHorizontalRow .CardHorizontalRow__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #008E86;
  padding-bottom: 10px;
}

.CardHorizontalRow .CardHorizontalRow__title .CardHorizontalRow__title__text {
  font-weight: 700;
}

.CardHorizontalRow .HorizontalBarGrid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
