.DashboardMain {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 12% 70% 10%;
  gap: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 30px;
}

.DashboardMain .DashboardMain__content {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 90%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
}

.DashboardMain .DashboardMain__content .DashboardMain__content__group {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.DashboardMain .DashboardMain__content .DashboardMain__content__group .DashboardMain__content__group__graphs {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.DashboardMain .DashboardMain__content .DashboardMain__content__group .DashboardMain__content__group__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.DashboardMain__content__group__buttons__pdf {
  border: 5px solid #008E86;
  border-radius: 30px;
  color: #008E86;
  font-weight: 700;
  cursor: pointer;
  width: 90%;
  text-align: center;
  padding: 5px 0;
}

.DashboardMain__content__group__buttons__teachers {
  border-radius: 15px;
  color: #008E86;
  font-weight: 700;
  cursor: pointer;
  background-color: #fff;
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.DashboardMain__content__group__buttons__teachers img {
  height: 40%;
}
