.DashboardStudentIndividual {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 10% 10% 65% 10%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 10px;
}

.DashboardStudentIndividual .RowsGrid {
  min-width: 750px;
  padding-right: 10%;
}

.DashboardStudentIndividual .DashboardStudentIndividual__graphs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
}

.DashboardStudentIndividual .DashboardStudentIndividual__graphs .DashboardStudentIndividual__graphs__group {
  display: flex;
  height: 70%;
  gap: 7%;
}
