.drag-drop-context{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: start;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.droppable-container{
    text-align: center;
    border-radius: 12px;
    height: 95%;
    width: 80%;
    margin-top: 8px;
}
.droppable-container h2{
    width: 80%;
    margin: 0 auto;
}

.droppable-list{
    min-height: 200px;
    width: 100%;
}

.column-1, .column-1-loop{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    padding: 0 10px 20px;
}

.column-1 .draggable-item, .column-1-loop .draggable-item{
    margin: 8px auto;
}

.column-1 p, .column-1-loop p{
    font-size: 1.4rem;
    color: #008E86;
    padding: 10px;
}


.column-2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    align-items: start;
    justify-items: center;
}

.column-2.loop{
    grid-template-rows: 20% 20% 40% 20%;
}

.column-2 .header-list, .column-2 .loop-top, .column-2.loop .block-top{
    align-self: end;
    aspect-ratio: 19/5;
    background-image: url("../../images/Atomo_IDE_Cabezote3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    position: relative;
    top: 2.5vh;
}

.column-2 .header-list h2{
    margin-top: 5%;
}

.column-2.loop .block-top{
    aspect-ratio: 170/31;
    background-image: url("../../images/IDE/Atomo_IDE_ContenedorTop.svg");
    align-self: start;
    top: 1.5vh;
    left: .2vw;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 20px;
}

.column-2.loop .block-top input{
    margin: 0 20px;
}

.column-2 .droppable-list{
    position: relative;
    top: 1vh;
    left: 1.8vw;
}

.column-2.loop .droppable-list{
    left: 2vw;
    top: -9vh;
}

.column-2 .draggable-item{
    margin-bottom: -1.5vh;
}

.draggable-item{
    aspect-ratio: 170/31;
    background-image: url("../../images/Atomo_IDE_Bloque3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: center;
    font-weight: bold;
}

.draggable-item span{
    justify-self: center;
    padding-left: 1.5vw;
    margin-bottom: 3px;
}

.draggable-item input, .draggable-item select, .column-2.loop .block-top input{
    text-align: center;
    font-size: 1rem;
    color: #008E86;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #008E86;
    border-radius: 7px;
}

.draggable-item input, .column-2.loop .block-top input{
    width: 40px;
    height: 40px;
}

.draggable-item select{
    width: 100px;
    height: 40px;
}

@media screen and (max-width: 1250px){
    .column-2 .droppable-list{
        top:1.7vh;
        left: 3.8vw;
    }
    .column-2.loop .droppable-list{
        left: 4vw;
        top: -9vh;
    }
    .draggable-item span{
        font-size: .8rem;
    }

}

@media screen and (max-width:700px) {
    .drag-drop-context{
        grid-template-columns: 100%;
        grid-template-rows: 100% 100%;
    }

    .column-2 .header-list, .column-2 .loop-top, .column-2.loop .block-top{
        width: 100%;
    }

    .column-2 .droppable-list{
        top:1.5vh;
        left: 6vw;
    }

    .column-2.loop .droppable-list{
        left: 5.5vw;
        top: -9vh;
    }
    
    .column-2 .header-list h2{
        margin-top: 5%;
    }
}