.drag-drop-for-context{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: start;
    justify-items: center;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.column-2-loop{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 40%;
    align-items: start;
    justify-items: center;
}

.column-2-loop .loop-top{
    align-self: end;
    aspect-ratio: 19/5;
    background-image: url("../../images/Atomo_IDE_Cabezote3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    position: relative;
    top: 2.2vh;
    right: .4vw;
    z-index: -1;
}

.column-2-loop .block-top{
    aspect-ratio: 19/4;
    background-image: url("../../images/IDE/Atomo_IDE_ContenedorTop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: start;
    font-weight: bold;
    font-size: 1rem;
    width: 35vw;
    max-width: 100%;
    padding-top: 5px;
}

.column-2-loop .block-top input{
    margin: 0 20px;
}

.column-2-loop .droppable-list{
    position: relative;
    bottom: 15.5vh;
    left: 1.6vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}


.draggable-for-item{
    aspect-ratio: 19/5;
    background-image: url("../../images/Atomo_IDE_Bloque3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 95%;
    min-width: 210px;
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: center;
    font-weight: bold;
}

.draggable-for-item select{
    width:100%;
}

.column-2-loop .loop-bottom{
    aspect-ratio: 19/5;
    background-image: url("../../images/IDE/Atomo_IDE_ContenedorBase.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: start;
    font-weight: bold;
    font-size: 1rem;
    width: 35vw;
    max-width: 100%;
    position: relative;
    right: 1.5vw;
    bottom: 3.7vh;
    z-index: -1;
}

.column-2-loop .draggable-for-item{
    margin-bottom: -1.5vh;
}


.block-top input{
    text-align: center;
    font-size: 1rem;
    color: #008E86;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #008E86;
    border-radius: 7px;
    width: 40px;
    height: 40px;
}
/* 
.draggable-for-item select{
    width: 100px;
    height: 22px;
} */

/* @media screen and (max-width: 1450px){
    .column-2-loop .droppable-list{
        bottom: 16.5vh;
    }
    .column-2-loop .draggable-for-item{
        margin-bottom: clamp(-3vh, 100%, -4vh);
    }
} */

@media screen and (max-width: 1250px){
    .column-2-loop .droppable-list{
        left: 4.5vw;
    }

    .draggable-for-item{
        max-width: 90%;
    }
}

/* @media screen and (max-width: 800px){

    .column-2-loop .droppable-list{
        left: 3.5vw;
    }

    .column-2-loop .block-top{
        font-size: .8rem;
        width: 100vw;
        padding-top: 0px;
    }

    .column-2-loop .loop-top{
        width: 100vw;
        right: .7vw;
        top: 1.6vh;
    }
    .column-2-loop .loop-bottom{
        width: 100vw;
        left: -7vw;
    }
} */

@media screen and (max-width:700px) {
    .drag-drop-for-context{
        grid-template-columns: 100%;
        grid-template-rows: 100% 100%;
    }
    .column-2-loop .droppable-list{
        left: 7vw;
        bottom: 13vh;
    }
    .column-2-loop .loop-top{
        width: 100vw;
        right: 1.2vw;
        top: 1.8vh;
    }
    .column-2-loop .block-top{
        font-size: 1.5rem;
        width: 100vw;
        padding-top: 15px;
    }
    .column-2-loop .loop-bottom{
        width: 100vw;
        left: -7vw;
    }
    .column-2-loop .draggable-for-item{
        min-width: 50vw; 
        margin-bottom: -2vh; 
    }
}

@media screen and (max-width:420px){
    .column-2-loop .droppable-list{
        bottom: 17vh;
    }
    .column-2-loop .draggable-for-item{
        margin-bottom: -2vh;
    }
}