.list-ex15{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.drag-drop-von-context{
    grid-row: 2;
}

.screenRenderUniqueOptionsEncapsulate{
    grid-row: 2;
}