.btns-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.algorithm-animation-container{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.production-draggables{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}
.production-info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00635D;
  border: #00D8CC 3px solid;
  color: #F2F2F2;
  border-radius: 20px;
  padding: 30px;
  font-weight: bolder;
}
.game-container{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  user-select: none;
  width: 100%;
  height: 100%;
}
.btn-game{
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
  padding: 10px;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  cursor: pointer;
  width: 180px;
  
}
.btn-game:active{
  filter: none;
  transform: translateY(2px);  
}
.btn-game-orange{
  background-color: #F97D61;
  color: #F2F2F2;
}
.btn-game-white{
  background-color: #F2F2F2;
  color: #F97D61;
}
.btn-game-purple{
  background-color: #FC79FF;
  color: #F2F2F2;
}
