.fix-ex23{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 30% 10%;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
}

.fix-ex23 .ex01-explaination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #00635D;
    gap: 20px;
    text-align: left;
    padding-top: 20px;
}

.fix-ex23 .ex01-explaination p{
    width: 90%;
    height: 100%;
    font-size: clamp(.9rem, 2vw, 2rem);
}

.fix-ex23 .ex23-question{
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    height: 90%;
}

.fix-ex23 .ex23-question img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.fix-ex23 .ex23-question  .ex23-question-title{
    color: #00635D;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    font-size: clamp(2vw, 1.5rem, 2vh);
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}




.fix-ex23 .ex23-options{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: rows;
    grid-auto-rows: minmax(250px, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.fix-ex23 .ex23-options.ex01-custom{
    width: 80%;
}

.fix-ex23 .ex23-options label{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix-ex23 .ex23-options label input{
    display: none;
}

.fix-ex23 .ex23-options label p{
    border-radius: 20px;
    aspect-ratio: 1/1;
    cursor: pointer;
    height: 90%;
    min-height: 220px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fix-ex23 .ex23-options label .img-container{
    z-index: 2;
}

.fix-ex23 .ex23-options label .color{
    background-color: #00D8CC;
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
}

.fix-ex23 .ex23-options label input:checked + .color{
    background-color: #F97D61;
}

.fix-ex23 .ex23-options label .color.color-selected{
    background-color: #69E485 !important;
}


.fix-ex23 .ex23-options .Board .img-container{
    background-image: url("../../images/exercises/23/Board_1.svg");
}

.fix-ex23 .ex23-options .HDD .img-container{
    background-image: url("../../images/exercises/23/Disco_duro.svg");
}

.fix-ex23 .ex23-options .GPU .img-container{
    background-image: url("../../images/exercises/23/GPU_1.svg");
}

.fix-ex23 .ex23-options .CPU .img-container{
    background-image: url("../../images/exercises/23/Procesador.svg");
}

.fix-ex23 .ex23-options .RAM .img-container{
    background-image: url("../../images/exercises/23/RAM_1.svg");
}

.fix-ex23 .ex23-options .Board01 .img-container{
    background-image: url("../../images/exercises/01/Board.svg");
}

.fix-ex23 .ex23-options .HDD01 .img-container{
    background-image: url("../../images/exercises/01/Disco_duro.svg");
}

.fix-ex23 .ex23-options .GPU01 .img-container{
    background-image: url("../../images/exercises/01/GPU.svg");
}

.fix-ex23 .ex23-options .CPU01 .img-container{
    background-image: url("../../images/exercises/01/Procesador.svg");
}

.fix-ex23 .ex23-options .RAM01 .img-container{
    background-image: url("../../images/exercises/01/RAM_1.svg");
}

.fix-ex23 .ex23-options .INPUT01 .img-container{
    background-image: url("../../images/exercises/01/input.svg");
}

.fix-ex23 .ex23-options .OUTPUT01 .img-container{
    background-image: url("../../images/exercises/01/output.svg");
}

.fix-ex23 .ex23-options .READER01 .img-container{
    background-image: url("../../images/exercises/01/UnidadLectora.svg");
}