iframe{
    aspect-ratio: 4/6;
    width: 400px;
    height: 600px;
    border: none;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 1250px){
    iframe{
        grid-column: 1/3;
    }
}