.HeaderTeacherCoordinatorView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #008E86;
  font-size: 1.1rem;
  font-weight: 700;
}

.HeaderTeacherCoordinatorView__group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.HeaderTeacherCoordinatorView__group .HeaderTeacherCoordinatorView__title {
  font-weight: 400;
}
.HeaderTeacherCoordinatorView .HeaderTeacherCoordinatorView__group img{
  cursor: pointer;
}
.HeaderTeacherCoordinatorView .HeaderTeacherCoordinatorView__group img:active{
  transform: scale(0.9);
}

