.institution-screen{
    width: 80%;
    height: 100%;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}

.institution-screen .institutions-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #E0E0E0;
    overflow-y: auto;
}

.institution-screen .institutions-list ul li{
    border-bottom: 1px solid #E0E0E0;
    height: 66px;
}

.institution-screen .institutions-list ul li input{
    display: none;
}

.institution-screen .institutions-list ul li label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008E86;
    font-size: 2rem;
    font-weight: bold;
}

.institution-screen .institutions-list ul li input:checked + label{
    background-color: #00635c5d;
}

.institution-screen .institutions-list ul li label:hover{
    background-color: #00635D;
    color: #fff;
}

.institution-screen .institution-info{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
}

.institution-screen .institution-info .editable-info{
    font-size: 1.5rem;
    font-weight: bold;
    color: #00635D;
    width: 100%;
    height: 100%;
    display: gird;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.institution-screen .institution-info .editable-info p{
    padding: 18.5px 20px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.institution-screen .institution-info .editable-info p i{
    cursor: pointer;
    position: absolute;
    right: 40px;
}

.institution-screen .institution-info .editable-info p i:hover{
    color: #00b4ab;
}

.institution-screen .institution-info .non-editable-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.institution-screen .institution-info .non-editable-info p{
    font-size: 1.8rem;
    font-weight: bold;
    color: #00635D;
}