.timer{
    font-family: Montserrat;
    font-weight: bold;
    color: #333333;
    background: #69E485;
    border-radius: 20px;
    padding: 0.5%;
    width: 7%;
    text-align: center;
    margin: 0.5%;
       
}