.cardGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap:20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    
}
.mazeContainer{
    width: min-content;
    background-color: white;
    border-radius: 1%;
    color: #00635D;
    font-family: Montserrat;
    font-weight: bold;
}
.timer{
    font-family: Montserrat;
    font-weight: bold;
    color: #333333;
    background: #69E485;
    border-radius: 20px;
    padding: 0.5%;
    width: 7%;
    text-align: center;
    margin: 0.5%;
       
}
.pairsText{
    padding:2%;
}
.gameContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
}

