.nav-menu{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: #008E86;
    background-color: #FFF;
}

.nav-menu input{
    display: none;
}

.nav-menu input:checked + label i{
    color: #00635D;
}
.nav-menu input:checked + label{
    border-color: #00635D;
}

.nav-menu label{
    display: block;
    cursor: pointer;
    border: 3px solid #008E86;
    border-radius: 12px;
    padding: 5px 10px;
    transition: 0.3s;
    width: 300px;
    text-align: center;
}

.nav-menu label i{
    transition: .3s;
}