.exercise-selector-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-selector-area select{
    cursor: pointer;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    border: 3px solid #008E86;
    font-size: 1.5rem;
    color: #008E86;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
}

.exercise-selector-area select option{
    font-weight: bold;
}