/* Vector */

position: absolute;
left: 1.22%;
right: 59.76%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 50%;
top: 50%;
bottom: 50%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 69.51%;
top: 89.02%;
bottom: 10.98%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 79.27%;
top: 50%;
bottom: 50%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 79.27%;
top: 20.73%;
bottom: 79.27%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 20.73%;
right: 69.51%;
top: 69.51%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 20.73%;
right: 59.76%;
top: 50%;
bottom: 50%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 50%;
top: 89.02%;
bottom: 10.98%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 59.76%;
top: 59.76%;
bottom: 40.24%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 40.24%;
top: 40.24%;
bottom: 59.76%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 50%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 50%;
top: 30.49%;
bottom: 69.51%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 50%;
right: 40.24%;
top: 69.51%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 50%;
right: 30.49%;
top: 20.73%;
bottom: 79.27%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 59.76%;
right: 20.73%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 59.76%;
right: 20.73%;
top: 59.76%;
bottom: 40.24%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 69.51%;
right: 20.73%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 69.51%;
right: 10.98%;
top: 79.27%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 69.51%;
right: 20.73%;
top: 40.24%;
bottom: 59.76%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 69.51%;
right: 20.73%;
top: 20.73%;
bottom: 79.27%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 79.27%;
right: -8.54%;
top: 89.02%;
bottom: 10.98%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 79.27%;
right: 10.98%;
top: 30.49%;
bottom: 69.51%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 79.27%;
right: 10.98%;
top: 10.98%;
bottom: 89.02%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 89.02%;
right: 1.22%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 89.02%;
right: 1.22%;
top: 79.27%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 89.02%;
right: 1.22%;
top: 40.24%;
bottom: 59.76%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 89.02%;
right: 1.22%;
top: 20.73%;
bottom: 79.27%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 98.78%;
right: -47.56%;
top: 98.78%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 98.78%;
right: -37.8%;
top: 40.24%;
bottom: 59.76%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 98.78%;
top: 98.78%;
bottom: -96.34%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 89.02%;
top: 89.02%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 59.76%;
top: 89.02%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 89.02%;
top: 79.27%;
bottom: 10.98%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 69.51%;
top: 79.27%;
bottom: -8.54%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 79.27%;
right: 20.73%;
top: 79.27%;
bottom: 10.98%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 98.78%;
top: 69.51%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 20.73%;
right: 79.27%;
top: 69.51%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 59.76%;
top: 69.51%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 89.02%;
top: 59.76%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 69.51%;
top: 59.76%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 59.76%;
right: 40.24%;
top: 59.76%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 79.27%;
right: 20.73%;
top: 59.76%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 98.78%;
top: 50%;
bottom: 40.24%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 20.73%;
right: 79.27%;
top: 50%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 69.51%;
right: 30.49%;
top: 50%;
bottom: 20.73%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 30.49%;
right: 69.51%;
top: 40.24%;
bottom: -8.54%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 98.78%;
top: 30.49%;
bottom: 50%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 59.76%;
top: 30.49%;
bottom: 50%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 89.02%;
top: 20.73%;
bottom: 69.51%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 40.24%;
right: 59.76%;
top: 20.73%;
bottom: 30.49%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 10.98%;
right: 89.02%;
top: 10.98%;
bottom: 59.76%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 59.76%;
right: 40.24%;
top: 10.98%;
bottom: 79.27%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 1.22%;
right: 98.78%;
top: 1.22%;
bottom: 1.22%;

/* Verde Pensatta */
border: 8px solid #008E86;
transform: rotate(-90deg);
