.pacman {
    position: relative;
    width: auto;
    border: 10px solid #333333;
    background-color: #333333;
    border-radius: 10px;
}
.pacman-game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}